body {
    font: 18px sans-serif;
    font-weight: lighter;
    color: black;
}

#header {
    width: 94%;
    height: 100px;
    padding: 5px 1% 0 1%;
    background-color: #888888;
    margin-bottom: 15px;
    color: white;
}

#header h1 {
    width: 40%;
    float: left;
}

#fineprints {
    font: 14px sans-serif;
    width: 30%;
    float: right;
    text-align: right;
    margin-top: 80px;
    height: 20px;
}

#main {
    width: 100%;
}

#ajaxMessage {
    color: red;
}

#search {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid;
}

#clusterSearch {
    width: 15%;
    float: left;
    height: 100%;
    border-right: 1px dashed;
}

#clusterSelect {
    width: 40%;
    float: left;
    height: 100%;
    border-right: 1px dashed;
    margin-left: 5px;
}

div.clusterSearchKey {
    margin-bottom: 10px;
}

#jobSearch {
    width: 35%;
    float: left;
    height: 100%;
    margin-left: 5px;
}

div.selectMenu {
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #999999;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#usersBox {
    width: 90%;
    height: 100px;
}

#cmds {
    width: 90%;
}

#clusterIds {
    width: 90%;
}

#dates {
    width: 90%;
    display: table;
}

#dates div.datesRow {
    display: table-row;
}

#dates div.datesCol {
    display: table-cell;
}

table.selector {
    border-spacing: 0;
    border: 1px solid #999999;
    font-size: 16px;
}

table.selector thead,
table.selector tbody {
    width: 100%;
}

table.selector tbody {
    border-top: 2px solid black;
}

table.selector tr {
    width: 100%;
    height: 40px;
}

table.selector tr.odd {
    background-color: #c2c0bf;
}

table.selector th,
table.selector td
{
    height: 40px;
    border-right: 1px solid #999999;
    padding: 0 5px 0 5px;
}

table.selector th:last-child,
table.selector td:last-child
{
    border-right: none;
}

table.selector th {
    background-color: #a31f34;
    color: white;
    font-size: 14px;
}

table.selector th.sortable {
    cursor: pointer;
}

table.selector td {
    overflow: hidden;
    word-wrap: break-word;
}

table.selector td.textcol {
    text-align: center;
}

col.selectCol {
    width: 5%;
}

col.clusterIdCol,col.userCol,col.jobsCol {
    width: 15%;
}

col.executableCol,col.submitDateCol {
    width: 25%;
}

div.clusterListContainer {
    width: 99%;
    overflow-x: auto;
}

#clusterListHead,#clusterList {
    table-layout: fixed;
}

#clusterList tbody {
    height: 0;
    text-align: right;
}

#display {
    width: 100%;
}

#display .view {
    margin-top: 10px;
    width: 100%;
}

#display .viewHeader {
    width: 98%;
    height: 25px;
    background-color: #dddddd;
    font-size: 20px;
    padding: 10px 1% 10px 1%;
}

#display .toggleView {
    width: 40px;
    height: 100%;
    float: left;
}

#display .viewTitle {
    width: 50%;
    height: 100%;
    float: left;
}

#display .viewGetData {
    width: 60px;
    height: 100%;
    float: right;
    text-align: right;
}

#display .viewBody {
    clear: both;
    width: 100%;
}

#jobList table {
    width: 90%;
}

#jobList tbody {
    text-align: right;
}

input.time {
    width: 100px;
}

#sitesBox {
    width: 90%;
    height: 100px;
}

#exitcodesBox {
    width: 30%;
    height: 60px;
}

.clickable {
    cursor: pointer;
}
