body {
    font: 18px sans-serif;
    font-weight: lighter;
    color: black;
}

#header {
    width: 94%;
    height: 100px;
    padding: 5px 1% 0 1%;
    background-color: #888888;
    margin-bottom: 15px;
    color: white;
}

#header h1 {
    width: 40%;
    float: left;
}

#fineprints {
    font: 14px sans-serif;
    width: 30%;
    float: right;
    text-align: right;
    margin-top: 80px;
    height: 20px;
}

#main {
    width: 100%;
}

#search {
    width: 100%;
    height: 400px;
    border-bottom: 1px solid;
}

#clusterSearch {
    width: 15%;
    float: left;
    height: 100%;
    border-right: 1px dashed;
}

#clusterSelect {
    width: 40%;
    float: left;
    height: 100%;
    border-right: 1px dashed;
    margin-left: 5px;
}

div.clusterSearchKey {
    margin-bottom: 10px;
}

#jobSearch {
    width: 35%;
    float: left;
    height: 100%;
    margin-left: 5px;
}

div.selectMenu {
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid #999999;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#users {
    width: 90%;
}

#cmds {
    width: 90%;
}

#clusterIds {
    width: 90%;
}

#dates {
    width: 90%;
    display: table;
}

#dates div.datesRow {
    display: table-row;
}

#dates div.datesCol {
    display: table-cell;
}

table.selector {
    border-spacing: 0;
    border: 1px solid #999999;
    font-size: 16px;
}

table.selector thead,
table.selector tbody {
    display: block;
    width: 100%;
}

table.selector tbody {
    border-top: 2px solid black;
}

table.selector tr {
    display: block;
    width: 100%;
    height: 40px;
}

table.selector tr.odd {
    background-color: #c2c0bf;
}

table.selector th,
table.selector td
{
    display: table-cell;
    height: 40px;
    border-right: 1px solid #999999;
    padding: 0 5px 0 5px;
}

table.selector th:last-child,
table.selector td:last-child
{
    border-right: none;
}

table.selector th {
    background-color: #a31f34;
    color: white;
    font-size: 14px;
}

table.selector th.sortable {
    cursor: pointer;
}

table.selector td {
    overflow: hidden;
    word-wrap: break-word;
}

table.selector td.textcol {
    text-align: center;
}

#clusterList {
    width: 98%;
}

#clusterList tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: right;
}

#jobView {
    margin-top: 10px;
    width: 100%;
}

#viewMode {
    width: 100%;
    height: 38px;
    overflow: visible;
}

#viewMode .viewTab {
    background-color: #cccccc;
    width: 148px;
    height: 20px;
    float: left;
    text-align: center;
    text-decoration: underline;
    padding-top: 8px;
    padding-bottom: 8px;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: #999999;
    margin-bottom: 2px;
    cursor: pointer;
}

#viewMode div.selected {
    background-color: white;
    text-decoration: none;
    padding-bottom: 10px;
    margin-bottom: 0;
    cursor: auto;
}

#viewMode div.last {
    border-right: 2px solid #999999;
}

#jobGraphArea {
    float: clear;
    width: 100%;
}

#jobTableArea {
    float: clear;
    width: 100%;

}

#jobList {
    width: 90%;
}

#jobList tbody {
    text-align: right;
}

input.time {
    width: 100px;
}

#sites {
    width: 60%;
}

#exitcodes {
    width: 20%;
}
